/*swatches*/
/*pink - rgb(245, 97, 140);
dark grey - #515151
light grey - ##DCDCDC
black - #010101*/

#app {
    padding-top: 20px;
    position: absolute;
    width: 600px;
    height: 420px;
    /*background-color: black;*/
    top: 23%;
    left: 23%;
}

/*styling for the login page*/
.app {
  padding-top: 20px;
  position: absolute;
  width: 600px;
  height: 420px;
  /*background-color: black;*/
  top: 23%;
  left: 23%;
}

body {
/*	background: url('client/people-dancing.png');
	width: 600px;
    height: 480px;
    position: relative;
    overflow: hidden;
    border: 1px solid green;*/
    background-color: black;
}

html {
  overflow-y: scroll;

}

.playlist-group {
	position: relative;
    float: left;
    width: 350px;

}

.playlist-group div {
  margin-left:-40px;
}

.search-group {
	position: relative;
  float: right;
  width: 200px;
  padding-left: 10px;
}

h1, h3 {
	color: #FEFEFE;
  font-family: Helvetica;
}
/*SongList Styles*/
ul {
	 border: 3px solid rgb(68, 63, 64);
    list-style: none;
    overflow-y: scroll;
    height: 200px;
    border-radius: 7px;
}

.search-group ul div {
  margin-left: -40px
}

/*Song Styles*/
li, .song {
     color: #DCDCDC;
    /* background-color: #393a3d; */
    border-bottom: 0.5px solid #393a3d;
    font-size: 9px;
    line-height: 3.4em;
    /*padding: 0px 0px 10px 5px;*/
    width: 350px;
    float: left;
    font-family: Helvetica;

}

.thumbnail {
    height: 45px;
    width: 45px;
    float: left;
    padding-left: 2px;

}

.btn {
  /*background-image: url('client/search-solid.png');*/
    width: 74px;
    height: 30px;
}

/*Search Bar Styles*/
.form-inline{
  padding-top: 15px;
}
.form-control{
    width: 520px;
    font-size: 18px;
    line-height: 24px;
    float: left;
    border-radius: 7px;
}

.logo {
  width: 95%;
  height: 95%;

}

audio{
  padding-top: 20px;
  width:600px !important;
}

audio::-internal-media-controls-download-button {
    display:none;
}

audio::-webkit-media-controls-enclosure {
    overflow:hidden;
}

audio::-webkit-media-controls-panel {
  width: 630px !important; /* Adjust as needed */
}
