/*swatches*/
/*pink - rgb(245, 97, 140);
dark grey - #515151
light grey - ##DCDCDC
black - #010101*/

#app {
      padding-top: 20px;
    position: absolute;
    width: 600px;
    height: 420px;
    background-color: black;
    background: url(client/people-dancing.png);
    top: 23%;
    left: 23%;
}


body {
/*	background: url('client/people-dancing.png');
	width: 600px;
    height: 480px;
    position: relative;
    overflow: hidden;
    border: 1px solid green;*/
    background-color: black;
}

html {
  overflow-y: scroll;

}

.playlist-group {
	position: relative;
    float: left;
    width: 350px;
    
}

.playlist-group div {
  margin-left:-40px;
}

.search-group {
	position: relative;
  float: right;
  width: 200px;
  padding-left: 10px;
}

h3 {
	color: #FEFEFE;
  font-family: Helvetica;
}
/*SongList Styles*/
ul {
	  border: 3px solid rgb(245, 97, 140);
    list-style: none;
    overflow-y: scroll;
    height: 200px;
}

.search-group ul div {
  margin-left: -40px
}

/*Song Styles*/
li, .song {
  color: #DCDCDC;
  background-color: #515151;
  border: 0.5px solid #010101;
  font-family: Helvetica;
  font-size: 1em;
  line-height: 2.4em;
  padding-left: 10px;
}

.btn {  
  /*background-image: url('client/search-solid.png');*/    
    width: 74px;
    height: 30px;
}

/*Search Bar Styles*/
.form-inline{
  padding-top: 15px;
}
.form-control{
    width: 520px;
    font-size: 18px;
    line-height: 24px;
    float: left;
}

.logo {
  width: 50%; 
  height: 50%;

}

audio::-internal-media-controls-download-button {
    display:none;
}

audio::-webkit-media-controls-enclosure {
    overflow:hidden;
}

audio::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
}